.button_list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button {
    padding: 6px 12px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    background-color: rgb(241, 176, 215);
    border-radius: 5px;
    border-color: rgb(199, 23, 234);
}

.button:hover {
    background-color: rgb(246, 60, 125);
    cursor: pointer;
}